html{
  font-size: 60%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    background:#171717;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  * {
    box-sizing: border-box;
    }
  
  a{color:#f7f1f0;}
  .row::after {
  content: "";
  clear: both;
  display: table;
  }
  [class*="col-"] {
  float: left;
  }
  @media only screen and (min-width: 1200px) {
    
    header{
      width: 100%;
      justify-content:center;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      background:#111111;
      padding: 0.5rem 0 2rem 0 ;
      box-shadow:12px 9px 15px -4px #111111, -12px -9px 15px -4px #111111;
    }
    .group-1{
      display: inline-flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;
      align-content: center;
      flex-wrap: wrap;
      width:304px;
      height: 56px;
      margin: 0.5rem 0 0 0;
    }
    .group-1 img{
      width: 28px;
      height: 28px;
    }
    .group-1 h1{
      margin: 0;
      color: #f7f1f0;
      font-weight: bold;
      font-size: 28px;
    }
    
    nav {
      &.primary-navigation {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        width: 70rem;
        height: 56px;
        margin:0 0 0 0 ;
    
        ul li {
          list-style: none;
          margin: 0 1rem;
          border: 2px solid #8851ff;
          border-radius: 25px;
          display: inline-flex;
          padding: 0 20px;
          position: relative;
          text-decoration: none;
          text-align: center;
          font-family: "Inter",sans-serif;
          transition: 300ms;
        }
    
        li a {
          margin: 0;
          color: #f7f1f0;
          font-weight: bold;
          font-size: 20px;
          padding: 0;
        }
        .upload{
          display: none;
        }
        .upload-label{
          font-size: 20px;
          font-weight: bold;
          color: #f7f1f0;
        }
      
    
        li:hover {
          cursor: pointer;
          color: #8851ff;
          scale: 110%;
          transition: 300ms;

        }
    
        ul li ul {
          visibility: visible;
          opacity: 0;
          position: absolute;
          margin-top: 10%;
          padding-left: 0;
          left: 0;
          display: none;
          background: transparent;
        }
    
        ul li:hover > ul,
        ul li ul:hover {
          color: #f7f1f0;
          visibility: visible;
          opacity: 1;
          display: block;
          flex-direction: column;
          align-items: center;
          min-width: 1rem;
          text-align: center;
          padding: 30px 0 0 0 ;
          margin: 20px 0 0 0 ;
        
        }
    
        ul li ul li {
          display: flex;
          margin: 0;
          clear: both;
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
          border-style: none;
          border: 2px solid #8851ff;
          border-radius: 25px;
        }

        ul li ul li a:hover {
          
          transition: all 0.3s ease;
        }
      }
    }
    
    a {
    
        text-decoration: none;
    
        &:hover {
            color: #f7f1f0;
        }
     
    }
    
     ul li ul li a { transition: all 0.5s ease; }
    
    p{
      color: #f7f1f0;
      margin: 0;
      padding: 0 5% 0 3%;
      align-self: center;
      font-size: 28px;
    }
  }
  @media (min-width: 1440px) {
    html {
      zoom: 1.2;
    }
  }
  
  @media (min-width: 2560px) {
    html {
      zoom: 1.5;
    }
  }
  
  @media (min-width: 3860px) {
    html {
      zoom: 2.3;
    }
  }
  
  ::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222224;
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
    border-radius: 1rem;
  }
  .gallery{
    display: flex;
    padding: 3rem;
    max-height: 100%;

  }
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
  }
  
  .image-gallery > li {
    height: 300px;
    cursor: pointer;
    position: relative;
    flex-grow: 1;
    flex: 1 1 auto;
  }
  
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
  }
  
  .image-gallery::after {
    content: "";
    flex-grow: 999;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* hover */
  .image-gallery li:hover .overlay {
    transform: scale(1);
  }

footer{
  background-color: #111111;
  display: flex;
  flex-direction: row;
  max-height: 25rem;
  height: 8rem;
  position: relative;
  bottom: 0px;
  color: #f7f1f0;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: -12px 9px 15px -4px #111111, -12px -9px 15px -4px #111111;
}
.footer-left{
  width: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-right{
  width: 50%;
  padding: 0;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.footer-text{
  display: flex;
  padding: 0;
  margin: 2rem 0 0 0 ;
  justify-content: center;
  font-size: 8px;
}
.footer-mail{
  padding: 0 0 1rem 10rem;
  font-size: 4px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; 
}
.footer-mail img{
  height: 16px;
  width: auto;
  margin: 0 1rem 0 0 ;
}
.footer-socials{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 0 0;
}
.footer-socials img{
  margin: 0 1rem;
  width: auto;
  height: 20px;
}
.footer-policy{
  padding: 0 0 1rem 0 ;
  font-size: 3px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-policy a{
  margin: 0 1rem;
}